:root {
  --blue: #4E5BEE;
  --red: #FF5757;
  --gray: #F8F8F8;
};


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
}



.leftSection {
  background-color: var(--blue);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 90px;
}



.logo{
  max-width: 150px;
}

.formSignUp{
  display: grid;
  gap: 10px;
}
.labelInput{
  border: 2px solid var(--gray);
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  gap: 5px;
  cursor: text;
  min-width: 300px;

}
.signInButton{
  background-color: var(--gray);
  cursor: pointer;
  padding: 0.8em 0.8em;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  margin-top: 8px;
}
.inputText{
  all: unset;
  flex: 1;
  font-size : 16px;
  color: #fff;
}

.bottomLeftSection{
  position: absolute;
  bottom: 0;
  padding-bottom: 30px;
  display: grid;
  place-items: center;
}

.bottomLeftSection > p{
  color: #fff;
}

.bottomLeftSection > a{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.rightSection{
  width: min-content;
}

.rightImage{
  /* max-width: 800px; */
}

.pError{
  color: #fff;
  font-size: 14px;
  padding-left: 10px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .rightSection {
    display: none;
  }
}